@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

:root {
  --ff-primary: "Montserrat", sans-serif;

  --fw-reg: 400;
  --fw-bold: 900;

  --clr-lighter: #edf1fd;
  --clr-light: #f4f7ff;
  --clr-dark: #303030;
  --clr-accent: #3399ff;
  --clr-accentwo: #2a9d8f;

  --fs-h1: 2.7rem;
  --fs-h1-1: 2.4rem;
  --fs-h2: 2.2rem;
  --fs-h2-1: 1.9rem;
  --fs-h2-2: 1.4rem;
  --fs-h3: 1rem;
  --fs-body: 1rem;
  --fs-medium: 0.85rem;
  --fs-small: 0.75rem;

  --bs-primary: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs-secondary: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --bs-tertiary: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: var(--clr-lighter);
}

img {
  display: block;
  max-width: 50%;
}

.text-independent {
  position: relative;
  /* transform: rotate(-90deg); */
  transform-origin: top left;
  margin-top: 20%;
  right: 10vw;
}

/* Introduction */

#first-key-section {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(/img/transparent.png);
  background-color: var(--clr-light);
}

.intro {
  position: relative;
  display: grid;
  width: min-content;
  padding-top: 100px;
  margin: 0 auto;
  column-gap: 1em;
  grid-template-areas:
    "title img socials"
    "subtitle img socials";
  grid-template-columns: max-content min-content;
  z-index: 0;
}
.intro-img {
  box-shadow: var(--bs-primary);
  z-index: 3;
  grid-area: img;
  max-width: 250px;
  position: relative;
  margin-top: 10%;
}

.section__subtitle--intro {
  align-self: start;
  grid-column: -1/ 1;
  grid-row: 2;
  text-align: left;
  position: relative;
  width: 90%;
}

.section__subtitle--intro {
  background: var(--clr-accent);
  padding: 0.2em 1em;
  font-family: var(--ff-primary);

  margin-bottom: 1em;
}

.section__title--intro {
  padding-top: 10%;
  font-weight: var(--fw-reg);
  font-size: var(--fs-h1);
  font-family: var(--ff-primary);
}

.section__title--intro strong {
  display: block;
  font-weight: var(--fw-bold);
}

.section__subtitle {
  font-size: var(--fs-h2-2);
}

.socials {
  display: flex;
  flex-direction: column;
  z-index: 0;
  grid-area: socials;
  max-width: 250px;
  margin-top: 20%;
}
.skill,
.socials a {
  padding: 0.5em 0.5em;
  margin: 0.8em;
  color: var(--clr-accent);
  font-size: var(--fs-body);
  border: 1px solid var(--clr-accent);
  border-radius: 50%;
  box-shadow: var(--bs-primary);
  background-color: var(--clr-light);
}
.socials a:hover {
  transform: translateY(-0.2em);
  transition: transform 200ms ease;
}

#intro-down-arrow {
  margin-top: 10vh;
}
@media (max-width: 600px) {
  .intro {
    grid-column-gap: 1em;
    padding: 0 0 50px px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "socials socials";
  }

  .socials {
    display: inline-block;
    margin: auto;
    width: 50%;
    margin-top: 10%;
    padding-left: 3%;
  }
  .socials a {
    padding: 0.5em 0.5em;
    margin: 1em 0.25em;
    font-size: var(--fs-body);
  }

  .section__subtitle--intro {
    width: 100%;
  }
  .intro-img {
    width: 45vw;
    position: relative;
    margin-top: 30px;
  }
  .section__title--intro {
    width: 45vw;
  }
}

@media (max-width: 507px) {
  .socials {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding-top: 10px;
    justify-content: center;
  }
  .socials a {
    margin-top: 0;
  }
}

@media (max-width: 480px) {
  .intro {
    padding-bottom: 0;
  }
  .intro-img {
    width: 42vw;
    margin-top: 30px;
  }
  .section__title--intro {
    width: 45vw;
    font-size: var(--fs-h1-1);
  }
  .section__subtitle {
    font-size: var(--fs-h3);
  }
}
@media (max-width: 425px) {
  .intro-img {
    width: 40vw;
    margin-top: 50px;
  }
  .section__title--intro {
    width: 45vw;
    font-size: var(--fs-h2-1);
    padding-top: 30%;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .section__subtitle--intro {
    margin-top: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 326px) {
  .intro-img {
    width: 35vw;
  }
  .section__title--intro {
    font-size: var(--fs-h2-2);
  }
}

@media (max-height: 467px) {
  #intro-down-arrow {
    margin-top: 0;
  }
}
/* Bio & Socials */

.intro-btns {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--ff-primary);
  padding: 8px 30px;
  margin: 5px;
  font-size: var(--fs-h3);
  text-decoration: none;
  color: #000;
}

.btn:hover {
  transform: scale(0.95);
  transition: transform 300ms ease;
}
#contact-btn {
  background-color: var(--clr-accent);
  color: #fff;
  text-decoration: none;
}
#content-btn {
  background-color: transparent;
  border: 1px solid var(--clr-accent);
  color: var(--clr-accent);
  background-color: var(--clr-light);
  text-decoration: none;
}

.section__bio {
  margin: 1% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
}

.intro-bio {
  box-shadow: var(--bs-tertiary);
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 600px) {
  .section__bio,
  .btn {
    font-size: var(--fs-body);
  }
}
@media (max-width: 425px) {
  .btn {
    font-size: var(--fs-medium);
  }
  .about-me,
  #second-key-section {
    padding-top: 20px;
  }
}

/* About me */

#about-me-title {
}

.down-arrow {
  display: block;
  text-align: center;
  color: #3399ff;
  font-size: 50px;
  padding-bottom: 0;
  padding-top: 10px;
}
#second-key-section {
  background: url(/img/transparent.png);
  background-color: var(--clr-light);
  background: invert();
  background-size: auto;
  padding-top: 50px;
  /* background-color: #edf1fd; */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-me {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-title {
  text-align: center;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2-2);
  padding: 10px;
  width: 90%;
  margin-right: 0;
  background-color: var(--clr-accent);
}

.bio {
  margin: 20px 25px 20px 0px;
  padding: 30px 20px;
  text-align: center;
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  border-radius: 5px;
  box-shadow: var(--bs-primary);
  max-width: 400px;
  background-color: var(--clr-light);
}

.bio-skills-container {
  display: flex;
  align-items: center;
  /* margin: 0px 20px; */
}

.bio-skills {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photo-sat {
  width: 30vw;
  border-radius: 5px;
  box-shadow: var(--bs-primary);
  margin-right: 20px;
  z-index: -10;
  max-width: 300px;
}

@media (min-width: 600px) {
  .bio {
    width: 90%;
  }
}

.skills {
  padding-left: 7px;
  flex-wrap: nowrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skill {
  background-color: var(--clr-light);
}

.skill:hover {
  transform: translateX(-0.2em);
  transition: transform 200ms ease;
}

@media (max-width: 326px) {
  .section-title {
    font-size: var(--fs-h2-2);
  }
  .bio {
    font-size: var(--fs-medium);
    padding: 30px 10px;
  }
}

@media (max-width: 555px) {
  .photo-sat {
    display: none;
  }
}

/* BLOG */

.blog-container {
  max-width: 90vw;
}
#blogs-title {
  background-color: var(--clr-accentwo);
}

.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  cursor: grab;
}
.scrolling-wrapper {
  margin-bottom: 20px;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  display: none;
}
.card {
  flex: 0 0 auto;
  width: 80%;
  margin-right: 3px;
  height: auto;
  width: 325px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recent-posts-info {
  margin: 40px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  background-color: var(--clr-lighter);
  min-height: 310px;
  border-radius: 20px;
  box-shadow: var(--bs-primary);
  text-align: center;
  position: relative;
}
.recent-posts-info span {
  display: block;
  margin: auto;
  width: 50%;
  color: #555;
  margin-bottom: 15px;
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
}
.recent-posts-info .title {
  font-size: var(--fs-h3);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  color: #000;
  margin-bottom: 20px;
}
.recent-posts-info .text {
  color: #111;
  font-size: var(--fs-medium);
  font-family: var(--ff-primary);
  line-height: 1.5em;
  text-align: left;
  margin: auto;
}

.btn.read-more {
  background-color: var(--clr-accentwo);
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 20px 10px;
}

#blog-arrow {
  color: #2a9d8f;
}

@media (max-width: 326px) {
  .recent-posts-info .title {
    font-size: var(--fs-h3);
  }
  .recent-posts-info .text {
    font-size: var(--fs-medium);
    padding: 0px 10px;
    margin-bottom: 0px;
  }
}

@media (max-width: 270px) {
  .recent-posts-info .text {
    font-size: var(--fs-small);
    padding: 0px 10px;
    margin-bottom: 0px;
  }
}
@media (min-width: 600px) {
  .section-title {
    max-width: 540px;
  }
}
