:root {
  --ff-primary: "Montserrat", sans-serif;

  --fw-reg: 400;
  --fw-bold: 900;

  --clr-lighter: #edf1fd;
  --clr-light: #f4f7ff;
  --clr-dark: #303030;
  --clr-accent: #3399ff;
  --clr-accentwo: #2a9d8f;

  --fs-h1: 2.7rem;
  --fs-h1-1: 2.4rem;
  --fs-h2: 2.2rem;
  --fs-h2-1: 1.9rem;
  --fs-h2-2: 1.4rem;
  --fs-h3: 1rem;
  --fs-body: 1rem;
  --fs-medium: 0.85rem;
  --fs-small: 0.75rem;

  --bs-primary: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
  --bs-secondary: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  --bs-tertiary: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.logo {
  color: #fff;
}

.btn {
  text-decoration: none;
  color: #000;
}
body {
  background: url(/img/transparent.png);
}

.blog-posts {
  margin: 5%;
  font-family: var(--ff-primary);
}

.btn {
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  font-family: var(--ff-primary);
  padding: 8px 30px;
  margin: 5px;
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  background-color: var(--clr-accentwo);
}

.btn:hover {
  transform: scale(0.95);
  transition: transform 300ms ease;
}

.post-info {
  list-style: none;
  padding-inline-start: 1px;
}

.down-content {
  padding: 5%;
  border: 5px solid var(--clr-accentwo);
  background-color: #ffffff;
  margin-top: 20px;
}

.down-content span {
  font-size: var(--fs-medium);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--clr-accentwo);
}
h1 {
  font-size: var(--fs-h2-2);
}

h2 {
  font-size: var(--fs-h3);
}

.post-info li {
  display: inline-block;
  font-size: var(--fs-medium);
}
.post-info li:after {
  content: "|";
  color: #000;
  margin-left: 8px;
}

.post-info li:last-child::after {
  display: none;
}
hr {
  border: 1px solid var(--clr-accentwo);
}

.main-body {
  font-size: var(--fs-body);
  line-height: 22px;
  padding: 10px 0px;
  margin: 10px 0px;
}
.list-of-reasons li {
  padding: 3px;
}
